
<html>
<head>
</head>
<body>
<div class="navbar">
  <%= link_to 'Home', welcome_index_path%></a>
  <%= link_to 'Admin', articles_path %>	</a>
  </div> 
  </body>
<br><br><h1 align="center">baserbox.com</h1><br><br><br><br><br>
</body>
<html>





